body {
	background-color: #4D505B;
}

div {
	border-radius:	  10px;
	min-width: 		  400px;
}

div.loanSettings {
	background-color: #006699;
	clear: 			  both;
	float: 			  top;
}

div.houseInfo {
	background-color: #0F9C82;
	float: 			  left;
}

div.incomeInfo {
	background-color: #38AD14;
	float: 			  left;
	clear:			  both;
}

div.results {
	background-color: #537353;
	float: 			  left;
	clear:			  both;
}


.thirdRow {
	max-width: 50px;
}

#results {
	font-size: 20px;
}

.advanced {
	display: none;
}

#trad {
	min-width: 120px;
}

#fha {
	min-width: 95px;
}

#custom, #custField {
	min-width: 75px;
}

.incomeInfo tr td, .houseInfo tr td{
	min-width: 160px;
}

.results input {
	min-width:  190px;
	min-height: 40px
}

td.spacer {
	width: 2em;
}