/*#results {
	border: 50px;
	background-color: green;
	border-collapse: separate;
	border-spacing: 5px;
}

#results  td {
	padding: 16px;
}

#results  tr {
	padding: 20px;
}*/

td.spacer {
	width: 2em;
}

div.houseInfo {
	background-color: green;
	float: left;
}

div.incomeInfo {
	background-color: blue;
	float: left;
}

div.results {
	background-color: red;
	/*float: bottom;*/
	clear: both;
}